<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles  -->
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>

<body>

    <form action="/" method="post">
        <label for="">Product Title</label>
        <input type="text" name="title">
        <label for="">Product Description</label>
        <textarea name="desc" id="" cols="30" rows="10"></textarea>
        <label for="">Price</label>
        <input type="number" name="price">
        <label for="">Image</label>
        <input type="url" name="image">
        <button type="submit">Submit</button>
    </form>
</body>

</html>