* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

form {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #cfcccc;
}

input,
textarea {
    padding: 5px 10px;
}

button {
    padding: 10px;
}